
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

table,
th,
td {
  border: 1px solid black
}

table {
  width: 100%;
  th {
    text-align:start;
  }
}

input {
  width: 50px;
  min-width: 50px;
}

.btn {
  width: 100px;
}